* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #c7e8ff;
}

a:hover{
  color: #13c919;
}

.cola {
  color: #c7e8ff;
}

.cola:hover {
   padding: 10px;
   color: #13c919;
}

.nav {
  min-height: 40px;
  background-color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.menu {
  display: flex;
  flex-flow: row;
  color: #c7e8ff;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}

.menu li {
  padding: 10px;
}

.name {
  display: block;
  margin-right: auto;
}

.name:hover {
  color: #fffa62;
}

header {
  padding-top: 40px;
  width: 100%;
  background-image: url('./images/2.jpg');
  height: 500px;
  background-size: cover;
  text-align: center;
}

header img {
  border-radius: 50%;
  border: 2px solid #000;
  transition: all .5s;
}

header img:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  display: table;
  padding: 10px;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 10px;
}

.tag:hover  {
  background-color: #fffa62;
}

.sub-title {
  background-color: #000;
  color: #447509;
}

.content {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #adfe0091;
}

.card {
  max-width: 500px;
  margin: 10px;
  padding: 50px;
  border-bottom: 3px solid grey;
  border-radius: 5px;
}

.tag-yellow {
  background-color: #ff9904;
}

.tag-yellow:hover{
    background-color: 	#8cff66;
}

.tag-blue {
  background-color: #0399ff;
}

.tag-blue:hover{
    background-color: 	#8cff66;
}

.tag-list {
  display: block;
  flex-flow: row;
  list-style-type: none;
  color: #fff;
}

footer {
  text-align: center;
  padding: 60px;
  background-color: #adfe0091;
}

.col {
  color: #105803;
}

@media (min-width: 1400px) {
		.inner {
		max-width: 1400px;
		margin: 0 auto;
		}
}

@media (max-width: 786px) {
	#banner h1 {
		font-size: 2rem;
	}
	.flex {
		flex-flow: column;
	}
	#three article {
		width: 100%;
		margin-bottom: 50px;
	}
  .tag {
    width: 80%;
  }
}
